{% extends 'base.html.twig' %}

{% block body %}
    <h1>Summary</h1>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Symbol</th>
            <th>Amount</th>
            <th>Value</th>
            <th>P/L</th>
        </tr>
        </thead>
        <tbody>
        {% for item in portfolio %}
            <tr>
                <td>{{ item.symbol.symbol }}</td>
                <td>{{ item.amount }}</td>
                <td>$ {{ item.totalInvestment|number_format(2) }}</td>
                <td>$ {{ item.pl|number_format(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Total Investment</th>
            <th>Total P/L</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>$ {{ totalInvestment|number_format(2) }}</td>
                <td>$ {{ totalPl|number_format(2) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
