{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transaction</h1>

    <div class="btn-group" role="group" aria-label="...">
        <a type="button" href="{{ path('transaction_index') }}" class="btn btn-default">Back to the list</a>
        <a type="button" href="{{ path('transaction_edit', { 'id': transaction.id }) }}" class="btn btn-default">Edit</a>
        <a type="button" href="{{ path('transaction_delete', { 'id': transaction.id }) }}" class="btn btn-default">Delete</a>
    </div>

    <br /><br />
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if transaction.date %}{{ transaction.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ transaction.symbol.symbol }}</td>
            </tr>
            <tr>
                <th>Operation</th>
                <td>{{ transaction.operation }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th>Unit Price</th>
                <td>{{ transaction.unitPrice }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
